:root {
	background-color: #00abc4;
	color: white;

	font-family: "Roboto", serif;
	font-size: 20px;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: 1.5rem;
	margin: 1rem;
}

#bus-destination {
	font-size: 0.8rem;
	font-weight: normal;
}

#bus-destination::before {
	content: "(vers 	";
}

#bus-destination::after {
	content: ")";
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 1rem;
	margin: 10px 0;
}

#times li:first-of-type {
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: bold;
}

#bikesStations svg {
	height: 1em;
	position: relative;
	bottom: -2px;
}

#bikesStations li span {
	padding: 2px 5px;
	border-radius: 12px;
}
